<mat-card class="text-center h-full bg-gradient-to-b from-black to-blue-500">
  <mat-card-title class="text-blue-300 text-8xl">WELCOME TO</mat-card-title>
  <mat-card-title class="text-blue-100 text-9xl">DAVID'S WORLD</mat-card-title>
  <mat-card-title class="text-blue-300 text-8xl"
    >ENJOY YOUR STAY</mat-card-title
  >
  <!-- <div class="text-center mb-auto bg-indigo-200 text-xs">
    
  </div> -->
  <mat-card-footer class="text-center text-blue-300">
    <p>Copyright &copy; 2022 James David Wyers</p>
  </mat-card-footer>
</mat-card>
