<mat-card
  class="text-center min-h-screen bg-gradient-to-b from-black to-blue-200"
>
  <app-toolbar></app-toolbar>

  <div class="mt-4"></div>
  <mat-card-title class="text-blue-100 text-9xl">DAVID WYERS</mat-card-title>
  <mat-card-title class="text-blue-200 text-7xl">Programming</mat-card-title>
  <mat-card-title class="text-blue-100 text-6xl">&</mat-card-title>
  <mat-card-title class="text-blue-200 text-7xl"
    >Web Development</mat-card-title
  >

  <div class="flex items-center justify-center flex-col gap-20 p-10">
    <mat-card class="w-3/4 border-8 bg-blue-200">
      <mat-card-title>About Me</mat-card-title>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="w-3/4 border-8 bg-blue-200">
      <mat-card-title>Skillset</mat-card-title>
      <mat-card-subtitle
        >I know these colors are weird. This is just a test.</mat-card-subtitle
      >
      <mat-card-content class="text-indigo-100">
        <div class="flex">
          <div class="flex gap-8 p-8 flex-wrap justify-evenly">
            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                HTML
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                CSS
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                SCSS
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                TailwindCSS
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                Javascript
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                Typescript
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                Angular
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                Angular Material
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                nodeJS
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                RxJS
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                NestJS
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                MongoDB
              </div>
            </div>

            <div class="relative group">
              <div
                class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
              ></div>
              <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
                Jest
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card-footer
    class="text-center text-blue-900 absolute bottom-4 w-full h-9"
  >
    <p>Copyright &copy; 2022 James David Wyers</p>
  </mat-card-footer>
</mat-card>
