/* mat-card {
  font-family: "Urbanist", sans-serif;
} */
/* mat-card {
  font-family: "Play", sans-serif;
} */
mat-card {
  /* font-family: "Castoro", serif; */
  font-family: "Sorts Mill Goudy", serif;
}
