.navbar {
  display: flex;
  justify-content: center;
  /* background-color: black; */
  opacity: 1;
  margin: 0 auto;
  text-align: center;
  height: auto;
  z-index: 2;
}

.dropdown .dropdownButton {
  display: flex;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0 auto;
  align-items: stretch;
  transition: 1s ease-in;
}

.dropdown .dropdownButton:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  visibility: hidden;
  /* background-color: rgb(0, 0, 0); */
  min-width: 160px;
  box-shadow: 0px 6px 12px 0px rgba(200, 236, 243, 0.193);
  /* box-shadow: 0px 8px 16px 0px rgba(227, 26, 157, 0.446); */
  overflow: visible;
  height: 0;
  border: 1px solid rgb(101, 101, 176);
  padding: 5px;
  transition: 1s ease-in;
  opacity: 0;
  margin: 15px;
}

.dropdown:hover .dropdown-content {
  height: 70px;
  transition: 1s ease-in;
  visibility: visible;
  opacity: 1;
}
.dropdown-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(196, 199, 227);
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
