.navbar {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  height: auto;
  z-index: 2;
}

/* .navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

.dropdown .dropdownButton {
  display: flex;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0 auto;
  align-items: stretch;
}

.dropdown:hover .dropdownButton {
  background-color: #ffffff;
  color: #000000;
  transition: 3.3s;
}

.dropdown-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  visibility: hidden;
  background-color: rgb(0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: visible;
  height: 0;
  border: 1px solid rgb(101, 101, 176);
  transition: all 1s ease-in;
  opacity: 0;
}

.dropdown-content a {
  border: 1px solid rgb(196, 199, 227);
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  height: 70px;
  transition: 3.3s;
  transition: all 1s ease-in;
  visibility: visible;
  opacity: 1;
}
