<mat-card
  class="text-center min-h-screen bg-gradient-to-b from-black to-blue-200"
>
  <app-toolbar></app-toolbar>
  <mat-card-title class="text-indigo-100">Contact Me</mat-card-title>
  <mat-card-subtitle class="text-indigo-100"> Get in touch </mat-card-subtitle>
  <mat-card-content class="text-indigo-100">
    <p>Coming soon...</p>
  </mat-card-content>
  <mat-card-footer
    class="text-center text-blue-900 absolute bottom-4 w-full h-9"
  >
    <p>Copyright &copy; 2022 James David Wyers</p>
  </mat-card-footer>
</mat-card>
