<mat-card class="text-center h-full bg-gradient-to-b from-black to-blue-500">
  <mat-card-title class="text-indigo-100">Technical Skillset</mat-card-title>
  <mat-card-subtitle class="text-indigo-100">
    Coming soon...
  </mat-card-subtitle>
  <mat-card-content class="text-indigo-100">
    <div class="border-4 bg-black flex flex-col justify-evenly">
      <p>HTML</p>
      <p>CSS</p>
      <p>SCSS</p>
      <p>Javascript</p>
      <p>Typescript</p>
      <p>Angular</p>
      <p>Angular Materials</p>
      <p>nodeJS</p>
      <p>TailwindCSS</p>
      <p>RxJS</p>
      <p>NestJS</p>
      <p>MongoDB</p>
    </div>
    <!-- <mat-card-title>Projects</mat-card-title> -->
    <!-- <div class="flex gap-11 border-2">
      <img
        mat-card-image
        src="/assets/images/emulatorPicture.jpg"
        class="object-contain h-48 w-96"
      />
      <mat-card-actions>
        <button mat-flat-button>See it live</button>
        <button mat-flat-button>
          <span class="material-icons"> code </span> Code
        </button>
      </mat-card-actions>
    </div> -->
  </mat-card-content>
</mat-card>
