<mat-card class="text-center min-h-screen bg-black">
  <app-toolbar></app-toolbar>
  <mat-card-title class="text-indigo-100">Technical Skillset</mat-card-title>
  <mat-card-subtitle class="text-indigo-100">
    The style is different... Just noodling around with ideas.
  </mat-card-subtitle>
  <mat-card-content class="text-indigo-100">
    <div class="flex items-center justify-center">
      <div
        class="flex gap-8 bg-black p-10 flex-wrap justify-around rounded-2xl w-1/2"
      >
        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            HTML
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            CSS
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            SCSS
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            TailwindCSS
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            Javascript
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            Typescript
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            Angular
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            Angular Material
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            nodeJS
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            RxJS
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            NestJS
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            MongoDB
          </div>
        </div>

        <div class="relative group">
          <div
            class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur filter opacity-50 group-hover:opacity-100 transition duration-500"
          ></div>
          <div class="relative px-7 py-4 bg-black rounded-lg leading-none">
            Jest
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer
    class="text-center text-blue-100 absolute bottom-4 w-full h-9"
  >
    <p>Copyright &copy; 2022 James David Wyers</p>
  </mat-card-footer>
</mat-card>
